fastapi
pydantic
pydantic_settings
uvicorn
sqlalchemy
pgvector
asyncpg
databases
psycopg2-binary
requests
lxml_html_clean
newspaper3k
sentence-transformers
# The below are needed for testing
httpx
pytest # THIS IS NEEDED FOR THE TESTING, I EXPLAIN IN DOCS

# The below are added for bias detection
thefuzz[speedup]
transformers
datasets
torch
nltk
pandas
numpy
scipy
scikit-learn
